<h4>ORDER HISTORY</h4>
<div class="d-flex justify-content-center" *ngIf="loading">
  <loading-spinner></loading-spinner>
</div>
<div *ngIf="!loading">
  <div style="max-height: 80vh; overflow-y: auto">
    <div class="d-flex flex-column" style="gap: 30px; margin-top: 60px;">
  
      <div class="d-flex justify-content-between" *ngFor="let order of orders">
        <div class="d-flex flex-column">
          <span>Order <a class="a-red" target="_blank" href="{{webAppUrl}}/invoice/{{ order._id }}">{{ order._id }}</a></span>
          <span class="text-muted">{{ order.timestamp | date:'medium'}}</span>
          <span class="text-muted">{{ order.totalPrice | currency:'USD' }}</span>
        </div>
        <span class="text-muted">{{ status[order.status] }}</span>
      </div>
    </div>
  </div>
</div>

