input.ng-touched.ng-invalid {
  color: red;
  border-color: red;
}

.cart-table {
  width: 100%;

  th, td {
    padding: 8px;
  }

  thead tr {
    background-color: #D9D9D9;
  }

  tbody tr:nth-child(even) {
    background-color: #FFEBA3;
  }

  tbody tr:nth-child(odd) {
    background-color: #FDEDCF;
  }
}