<div class="row">
  <div class="col-md-8 offset-md-2">
    <ng-container *ngIf="!loading && error">
      <div class="alert alert-danger">
        There was an error viewing this document.
      </div>
    </ng-container>
    <ng-container *ngIf="loading; else viewOrder">
      <div class="d-flex justify-content-center">
        <loading-spinner></loading-spinner>
      </div>
    </ng-container>
    <ng-template #viewOrder>
      <div class="paper" *ngIf="!error">
        <div>
          <div class="d-flex justify-content-between">
            <h4>Between The Lines</h4>
            <button class="btn btn-dark no-print" (click)="print()"><i class="fa-solid fa-print"></i> Print this page</button>
          </div>
          <span>{{webAppUrl}}/invoice/{{ order._id }}</span>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="col-md-12">
              <h5>Order details</h5>
              <div class="d-flex justify-content-start" style="gap: 12px;">
                <div class="d-flex flex-column align-items-end">
                  <span><strong>Order status</strong></span>
                  <span><strong>Order ID</strong></span>
                  <span><strong>Placed on</strong></span>
                </div>
                <div class="d-flex flex-column align-items-start">
                  <span>{{ status[order.status] }}</span>
                  <span>{{ order._id }}</span>
                  <span>{{ order.timestamp | date:'medium' }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <h5>Order contents</h5>
              <table style="width: 100%;">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Each $</th>
                    <th>Qty</th>
                    <th>Price $</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of order.contents">
                    <td>{{ row.item.title }}</td>
                    <td>{{ row.item.price | currency:'USD' }}</td>
                    <td>{{ row.quantity }}</td>
                    <td>{{ (row.item.price * row.quantity) | currency:'USD' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <h5>Shipping details</h5>
                <div class="d-flex justify-content-start" style="gap: 12px">
                  <span><strong>Ship to</strong></span>
                  <div class="d-flex flex-column">
                    <span>{{ order.sendTo }}</span>
                    <span>{{ order.addrLine1 }}</span>
                    <span *ngIf="order.addrLine2">{{ order.addrLine2 }}</span>
                    <span>{{ order.city }}, {{ order.state }} {{ order.zip }}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-5">
                <h5>Payment details</h5>
                <div class="d-flex justify-content-start" style="gap: 12px;">
                  <div class="d-flex flex-column align-items-end">
                    <span><strong>Cart type</strong></span>
                    <span><strong>Card number</strong></span>
                    <span><strong>Subtotal</strong></span>
                    <span><strong>Tax</strong></span>
                    <span><strong>Shipping</strong></span>
                    <span><strong>Total</strong></span>
                  </div>
                  <div class="d-flex flex-column align-items-start">
                    <span>{{ cardType[order.cardType] }}</span>
                    <span>XXXXXXXXXXXX{{ order.last4CardDigits }}</span>
                    <span>{{ order.subtotal | currency:'USD' }}</span>
                    <span>{{ order.tax | currency:'USD' }}</span>
                    <span>{{ order.shippingPrice | currency:'USD' }}</span>
                    <span>{{ order.totalPrice | currency:'USD' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 d-flex align-items-center flex-column">
            <ngx-qrcode title="qrcode" value="{{webAppUrl}}/invoice/{{ order._id }}"></ngx-qrcode>
            <span><strong>Order ID</strong> {{ order._id }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

